<!--/banner-->
<div class="banner-wthree-info container">
    <div class="row">
        <div class="col-lg-5 banner-left-info">
            <h3>The Largest Range <span>of HandBags</span></h3>
            <a href="@Url.Action("Collection", "Home")" class="btn shop mt-3">Shop Now</a>
        </div>

        <div class="col-lg-7 banner-img">
            <img src="~/Content/images/bag.png" alt="part image" class="img-fluid">
        </div>
    </div>
</div>